
body {
    background-color: #2f2f2f;
    /*height: 100vh;*/
}

h2 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;
}
@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/*.container */
.main-content {
    padding: 2rem;
    background-color: #333333;
    color: #c5bfbf;
    margin: 50px 260px 100px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #333;
    color: #c5bfbf;
}

footer .footer-content{
    background-color: #333;
    color: #c5bfbf;
}
.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
}
