
body {
    background-color: #2f2f2f;
    /*height: 100vh;*/
}

/*headers*/
h2 {
    text-align: center;
}

/*home page grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;
}
.grid .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #494848;
    border: 1px solid #c5bfbf;
    border-radius: 5px;
    padding: 20px;
}
.grid .flex p {
    color: #c5bfbf;
    text-align: center;
}
.home-image img {
    max-width: 100%;
}
/*automatiskai pritaikys columns pagal screen, kad tilptu i mano inbox background*/
@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/*anime/manga puslapiam gridas*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #545454;
    padding: 20px;
    border: 1px solid #c5bfbf;
    border-radius: 5px;
}
/*so image wouldnt go over border */
.grid-item img {
    max-width: 100%;
}


/*.container */
.main-content {
    padding: 2rem;
    background-color: #333333;
    color: #c5bfbf;
    margin: 50px 260px 100px;
}
/*navigation mygtukai pavadinti kiek netinkamai, bet veikia*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #333;
    color: #c5bfbf;
}
footer .footer-content{
    background-color: #333;
    color: #c5bfbf;
}
.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
}


/*create edit adminui padariau kad atrodytu kiek vienodesnis dydis title su description*/
.form-group textarea {
    width: 370px;
    height: 200px;
    box-sizing: border-box;
}


/*zvaigzdes*/
.stars i {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}
.stars i.fas {
    color: #ffce00;
}


/*admin navigation left*/
.menu a {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: #545454;
    color: #333;
    text-align: center;
    text-decoration: none;
}
.menu a:hover {
    background-color: #545454;
    color: #f5f5f5;
}
.menu-list {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu-list li {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}
.menu-list li a {
    display: block;
    text-align: center;
}


/*show content*/
.card {
    background-color: #494848;
    border: 2px solid #c5bfbf;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}
.card-image {
    text-align: center;
}
.card-image img {
    max-width: 100%;
    margin: 0 auto;
}
.card-content {
    /*background-color: #494848;*/
    /*border: 1px solid #c5bfbf;*/
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.card-content p {
    margin-bottom: 10px;
}
