
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;

}
nav.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.navbar li a {

    color: #c5bfbf;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav.navbar li a:hover {
    background-color: #545454;
}

nav.navbar li form button {
    height: 1.5rem;
    padding: 7px 10px;
    border: none;
    color: #c5bfbf;
    background-color: transparent;
}

nav.navbar li form button:hover {
    background-color: #545454;
}
