.sidebar-right {
    position: fixed;
    top: 200px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: 250px;

}
.menu-right-list{
    list-style: none;
}
.menu-right-list a {
    text-decoration: none;
    color: #c5bfbf;

}
.menu-right-list a:hover {
    background-color: #545454;
}
